In [1]:
# dependencies
import pandas as pd
import numpy as np

In [2]:
dataFilepath = "Resources/purchase_data.csv"
dataFilepath

'Resources/purchase_data.csv'

In [3]:
# import the data in the file at dataFilepath and make a data frame of it
purchaseData_df = pd.read_csv(dataFilepath)
purchaseData_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [70]:
# This is a groupby object of unique PNs...
SNs = purchaseData_df.groupby(["SN"])
# ...and now it's a DataFrame:
SNs_df = pd.DataFrame(SNs.first())
SNs_df

,Purchase ID,Age,Gender,Item ID,Item Name,Price
SN,,,,,,
Adairialis76,467,16,Male,123,Twilight's Carver,2.28
Adastirin33,142,35,Female,175,Woeful Adamantite Claymore,4.48
Aeda94,388,17,Male,128,"Blazeguard, Reach of Eternity",4.91
Aela59,28,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",4.32
Aelaria33,630,23,Male,171,Scalpel,1.79
...,...,...,...,...,...,...
Yathecal82,125,20,Female,62,Piece Maker,1.87
Yathedeu43,93,22,Male,88,"Emberling, Defender of Delusions",3.75
Yoishirrala98,572,17,Female,145,Fiery Glass Crusader,4.58
Zhisrisu83,54,10,Male,25,Hero Cane,4.35
Zontibe81,17,21,Male,161,Devine,1.76

In [71]:
# 1. Count unique players
PNcount = len(SNs_df)
PNcount

576

In [76]:
# 2. Purchasing analysis
#    a. no. of unique items
itemCount = len(purchaseData_df["Item ID"].value_counts())
itemCount

179

In [77]:
#    b. avg purchase price
purchaseAvg = purchaseData_df["Price"].sum() / purchaseData_df["Price"].count()
showPurchaseAvg = "$" + str(round(float(purchaseAvg), 2))
showPurchaseAvg

'$3.05'

In [78]:
#    c. total no. of purchases
purchaseCount = purchaseData_df["SN"].count()
purchaseCount

780

In [9]:
#    d. total revenue
totalRevenue = purchaseData_df["Price"].sum()
showTotalRevenue = "$" + str(totalRevenue)
showTotalRevenue

'$2379.77'

In [10]:
# 3. Gender demographics

In [104]:
# This is a groupby object created to get total sales by gender (in the Price column).
SalesByGender = purchaseData_df.groupby(["Gender"])
SalesByGender_df = pd.DataFrame(SalesByGender.sum())
SalesByGender_df

                       Purchase ID    Age  Item ID    Price
Gender
Female                       42870   2412     9659   361.94
Male                        255921  14942    60698  1967.64
Other / Non-Disclosed         5019    363     1212    50.19

In [79]:
# This is a groupby object of unique PNs by gender...
genderReport = SNs_df.groupby(["Gender"])
# ...and now it's a DataFrame:
genderReport_df = pd.DataFrame(genderReport.count())
genderReport_df

                       Purchase ID  Age  Item ID  Item Name  Price
Gender
Female                          81   81       81         81     81
Male                           484  484      484        484    484
Other / Non-Disclosed           11   11       11         11     11

In [ ]:
#    a. pct and count of male players

In [87]:
# count
maleCount = int(genderReport_df.iloc[1][1])
maleCount

484

In [88]:
# percent
malePct = maleCount / PNcount
malePctShow = str(round(malePct*100,1))+"%"
malePctShow

'84.0%'

In [82]:
#    b. pct and count of female players

In [90]:
# count
femaleCount = int(genderReport_df.iloc[0][0])
femaleCount

81

In [91]:
# percent
femalePct = femaleCount / PNcount
femalePctShow = str(round(femalePct*100,1))+"%"
femalePctShow

'14.1%'

In [ ]:
#    c. pct and count of other/non-disclosed gender players

In [92]:
# count
nonBinCount = int(genderReport_df.iloc[2][2])
nonBinCount

11

In [93]:
# percent
nonBinPct = nonBinCount / PNcount
nonBinPctShow = str(round(nonBinPct*100,1))+"%"
nonBinPctShow

'1.9%'

In [105]:
# 4. Purchasing analysis: gender
SalesCountByGender = purchaseData_df.groupby(["Gender"])
SalesCountByGender_df = pd.DataFrame(SalesCountByGender.count())
SalesCountByGender_df

                       Purchase ID   SN  Age  Item ID  Item Name  Price
Gender
Female                         113  113  113      113        113    113
Male                           652  652  652      652        652    652
Other / Non-Disclosed           15   15   15       15         15     15

In [34]:
#    a. male players

In [107]:
#         i. purchase count
salesCountMale = SalesCountByGender_df.loc['Male','SN']
salesCountMale

652

In [112]:
#        ii. total purchase value
salesMale = SalesByGender_df.loc['Male','Price']
salesMaleShow = "$"+str(round(float(salesMale),2))
salesMaleShow

'$1967.64'

In [115]:
#       iii. avg purchase price
salesAvgMale = salesMale / salesCountMale
salesAvgMaleShow = "$"+str(round(float(salesAvgMale),2))
salesAvgMaleShow

'$3.02'

In [123]:
#        iv. avg purchase total per person by gender
salesAvgPerMale = salesMale / maleCount
salesAvgPerMaleShow = "$"+str(round(float(salesAvgPerMale),2))
salesAvgPerMaleShow

'$4.07'

In [ ]:
#    b. female players

In [109]:
#         i. purchase count
salesCountFemale = SalesCountByGender_df.loc['Female','SN']
salesCountFemale

113

In [117]:
#        ii. total purchase value
salesFemale = SalesByGender_df.loc['Female','Price']
salesFemaleShow = "$"+str(round(float(salesFemale),2))
salesFemaleShow

'$361.94'

In [116]:
#       iii. avg purchase price
salesAvgFemale = salesFemale / salesCountFemale
salesAvgFemaleShow = "$"+str(round(float(salesAvgFemale),2))
salesAvgFemaleShow

'$3.2'

In [124]:
#        iv. avg purchase total per person by gender
salesAvgPerFemale = salesFemale / femaleCount
salesAvgPerFemaleShow = "$"+str(round(float(salesAvgPerFemale),2))
salesAvgPerFemaleShow

'$4.47'

In [ ]:
#    c. players of other/non-disclosed gender

In [110]:
#         i. purchase count
salesCountNonBin = SalesCountByGender_df.loc['Other / Non-Disclosed','SN']
salesCountNonBin

15

In [114]:
#        ii. total purchase value
salesNonBin = SalesByGender_df.loc['Other / Non-Disclosed','Price']
salesNonBinShow = "$"+str(round(float(salesNonBin),2))
salesNonBinShow

'$50.19'

In [118]:
#       iii. avg purchase price
salesAvgNonBin = salesNonBin / salesCountNonBin
salesAvgNonBinShow = "$"+str(round(float(salesAvgNonBin),2))
salesAvgNonBinShow

'$3.35'

In [126]:
#        iv. avg purchase total per person by gender
salesAvgPerNonBin = salesNonBin / nonBinCount
salesAvgPerNonBinShow = "$"+str(round(float(salesAvgPerNonBin),2))
salesAvgPerNonBinShow

'$4.56'

In [ ]:
# 5. Age demographics in bins of 4 years: <10, 10-14, 15-19, und so weiter
#    a. purchase count
#    b. avg purchase price
#    c. total purchase value
#    d. avg purchase total per person by age group

In [ ]:
# 6. Top spenders
#    a. identify the top five spenders by total purchase value
#    b. and list in a table:
#         i. SN
#        ii. purchase count
#       iii. avg purchase price
#        iv. total purchase value

In [ ]:
# 7. Most popular items
#    a. identify the five most popular items purchase count
#    b. and list in a table:
#         i. item ID
#        ii. item name
#       iii. purchase count
#        iv. total purchase value

In [ ]:
# 8 most profitable items
#    a. identify the five most profitable items by total purchase value
#    b. and list in a table:
#         i. item ID
#        ii. item name
#       iii. purchase count
#        iv. item price
#         v. total purchase value

In [ ]:
# Thank you for examining this homework assignment (nunber 4: Pandas challenge)
# in the U of Minnesota Data Analytics and Visualization Boot Camp, Winter 2021.
# Please email Paul Bernhardt papadiscobravo@gmail.com with questions.