In [1]:
# dependencies
import pandas as pd
import numpy as np

In [2]:
dataFilepath = "Resources/purchase_data.csv"
dataFilepath

'Resources/purchase_data.csv'

In [3]:
# import the data in the file at dataFilepath and make a data frame of it
purchaseData_df = pd.read_csv(dataFilepath)
purchaseData_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [5]:
# Show the head of the SN column:
purchaseData_df["SN"].head()

0          Lisim78
1      Lisovynya38
2       Ithergue48
3    Chamassasya86
4        Iskosia90
Name: SN, dtype: object

In [7]:
# This is the head of a list of PNs and how many purchases each PN made,
# as a dataframe. The length of this list is the number of unique PNs:
PNs_df = pd.DataFrame(purchaseData_df[["SN", "Gender"]].value_counts())
PNs_df

                     0
SN           Gender
Lisosia93    Male    5
Iral74       Male    4
Idastidru52  Male    4
Aina42       Male    3
Iri67        Male    3
...                 ..
Lisossala30  Male    1
Lisossanya98 Male    1
Lisotesta51  Female  1
Lisovynya38  Male    1
Adairialis76 Male    1

[576 rows x 1 columns]

In [8]:
# 1. Count unique players
PNcount = len(PNs_df)
PNcount

576

In [9]:
# 2. Purchasing analysis
#    a. no. of unique items
itemCount = len(purchaseData_df["Item ID"].value_counts())
itemCount

179

In [10]:
#    b. avg purchase price
purchaseAvg = purchaseData_df["Price"].sum() / purchaseData_df["Price"].count()
showPurchaseAvg = "$" + str(round(float(purchaseAvg), 2))
showPurchaseAvg

'$3.05'

In [11]:
#    c. total no. of purchases
purchaseCount = purchaseData_df["SN"].count()
purchaseCount

780

In [12]:
#    d. total revenue
totalRevenue = purchaseData_df["Price"].sum()
showTotalRevenue = "$" + str(totalRevenue)
showTotalRevenue

'$2379.77'

In [19]:
# 3. Gender demographics

In [20]:
genderReport_df = pd.DataFrame([PNs_df.value_counts("Gender"), PNs_df.value_counts("Gender")/PNcount])
genderReport_df

Gender        Male     Female  Other / Non-Disclosed
0       484.000000  81.000000              11.000000
1         0.840278   0.140625               0.019097

In [72]:
#    a. pct and count of male players
malePct = genderReport_df.iloc[1][0]
malePctShow = str(round(malePct*100,1))+"%"
malePctShow

'84.0%'

In [55]:
maleCount = int(genderReport_df.iloc[0][0])
maleCount

484

In [ ]:
#    b. pct and count of female players

In [73]:
femalePct = genderReport_df.iloc[1][1]
femalePctShow = str(round(femalePct*100,1))+"%"
femalePctShow

'14.1%'

In [62]:
femaleCount = int(genderReport_df.iloc[0][1])
femaleCount

81

In [ ]:
#    c. pct and count of other/non-disclosed gender players

In [71]:
nonBinGenderPct = genderReport_df.iloc[1][2]
nonBinGenderPctShow = str(round(nonBinGenderPct*100,1))+"%"
nonBinGenderPctShow

'1.9%'

In [66]:
nonBinGenderCount = int(genderReport_df.iloc[0][2])
nonBinGenderCount

11

In [ ]:
# 4. Purchasing analysis: gender
#    a. male players
#         i. purchase count
#        ii. avg purchase price
#       iii. total purchase value
#        iv. avg purchase total per person by gender

#    b. female players
#         i. purchase count
#        ii. avg purchase price
#       iii. total purchase value
#        iv. avg purchase total per person by gender

#    c. players of other/non-disclosed gender
#         i. purchase count
#        ii. avg purchase price
#       iii. total purchase value
#        iv. avg purchase total per person by gender

In [ ]:
# 5. Age demographics in bins of 4 years: <10, 10-14, 15-19, und so weiter
#    a. purchase count
#    b. avg purchase price
#    c. total purchase value
#    d. avg purchase total per person by age group

In [ ]:
# 6. Top spenders
#    a. identify the top five spenders by total purchase value
#    b. and list in a table:
#         i. SN
#        ii. purchase count
#       iii. avg purchase price
#        iv. total purchase value

In [ ]:
# 7. Most popular items
#    a. identify the five most popular items purchase count
#    b. and list in a table:
#         i. item ID
#        ii. item name
#       iii. purchase count
#        iv. total purchase value

In [ ]:
# 8 most profitable items
#    a. identify the five most profitable items by total purchase value
#    b. and list in a table:
#         i. item ID
#        ii. item name
#       iii. purchase count
#        iv. item price
#         v. total purchase value

In [ ]:
# Thank you for examining this homework assignment (nunber 4: Pandas challenge)
# in the U of Minnesota Data Analytics and Visualization Boot Camp, Winter 2021.
# Please email Paul Bernhardt papadiscobravo@gmail.com with questions.