In [1]:
# dependencies
import pandas as pd
import numpy as np

In [2]:
dataFilepath = "Resources/purchase_data.csv"
dataFilepath

'Resources/purchase_data.csv'

In [3]:
# import the data in the file at dataFilepath and make a data frame of it
purchaseData_df = pd.read_csv(dataFilepath)
purchaseData_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
# header_and_data = {"SN": ["Frodo", "Arwyn"], "Age": [33, 42], "Gender": ["Female", "Male"]}
# df = pd.DataFrame(data=header_and_data)
# df

In [21]:
SN_count = purchaseData_df.groupby(["Gender"])
SN_count.sum()

                       Purchase ID    Age  Item ID    Price
Gender
Female                       42870   2412     9659   361.94
Male                        255921  14942    60698  1967.64
Other / Non-Disclosed         5019    363     1212    50.19

In [26]:
for col in SN_count: 
    print(col).head

('Female',      Purchase ID               SN  Age  Gender  Item ID  \
15            15        Lisassa64   21  Female       98
18            18        Reunasu60   22  Female       82
38            38         Reulae52   10  Female      116
41            41        Assosia88   20  Female        7
55            55        Phaelap26   25  Female       84
..           ...              ...  ...     ...      ...
731          731         Eudanu84   22  Female       12
740          740        Reunasu60   22  Female      127
754          754  Pheosurllorin41   23  Female       79
767          767          Ilmol66    8  Female       92
775          775       Aethedru70   21  Female       60

                        Item Name  Price
15    Deadline, Voice Of Subtlety   2.89
18                        Nirvana   4.90
38        Renewed Skeletal Katana   4.18
41   Thorn, Satchel of Dark Souls   1.33
55                     Arcane Gem   3.79
..                            ...    ...
731                         Dawne   1.02
740  Heartseeker, Reaver of Souls   3.92
754           Alpha, Oath of Zeal   4.05
767                  Final Critic   4.88
775                          Wolf   3.54

[113 rows x 7 columns])

AttributeError: 'NoneType' object has no attribute 'head'

In [ ]:
# Show the head of the SN column:
# purchaseData_df["SN"].head()

In [ ]:
# for col in SNs_df:
#    print(col)

In [ ]:
# tried to build my own dataframe from dictionaries
# SNs_cleaned = {'SN': [13,422], 'Gender': ["Male", "Female"], 'Age': [34,66]}
# SNs_cleaned_df = pd.DataFrame(SNs_cleaned)
# SNs_cleaned_df