In [5]:
# dependencies
import pandas as pd

In [6]:
dataFilepath = "Resources/purchase_data.csv"
dataFilepath

'Resources/purchase_data.csv'

In [9]:
# import the data in the file at dataFilepath and make a data frame of it
purchaseData_df = pd.read_csv(dataFilepath)
purchaseData_df.head

<bound method NDFrame.head of      Purchase ID             SN  Age  Gender  Item ID  \
0              0        Lisim78   20    Male      108
1              1    Lisovynya38   40    Male      143
2              2     Ithergue48   24    Male       92
3              3  Chamassasya86   24    Male      100
4              4      Iskosia90   23    Male      131
..           ...            ...  ...     ...      ...
775          775     Aethedru70   21  Female       60
776          776         Iral74   21    Male      164
777          777     Yathecal72   20    Male       67
778          778        Sisur91    7    Male       92
779          779      Ennrian78   24    Male       50

                                     Item Name  Price
0    Extraction, Quickblade Of Trembling Hands   3.53
1                            Frenzied Scimitar   1.56
2                                 Final Critic   4.88
3                                  Blindscythe   3.27
4                                         Fury   1.44
..                                         ...    ...
775                                       Wolf   3.54
776                           Exiled Doomblade   1.63
777      Celeste, Incarnation of the Corrupted   3.46
778                               Final Critic   4.19
779                                       Dawn   4.60

[780 rows x 7 columns]>

In [16]:
# per
https://umn.bootcampcontent.com/University-of-Minnesota-Boot-Camp/uofm-stp-data-pt-12-2020-u-c/tree/master/02-Homework/04-Pandas/Instructions
# 1. Count unique players

SyntaxError: invalid syntax (<ipython-input-16-93b751e83914>, line 1)

In [ ]:
# 2. Purchasing analysis
#    a. no. of unique items
#    b. avg purchase price
#    c. total no. of purchases
#    d. total revenue

In [ ]:
# 3. Gender demographics
#    a. pct and count of male players
#    b. pct and count of female players
#    c. pct and count of other/non-disclosed gender players

In [ ]:
# 4. Purchasing analysis: gender
#    a. male players
#         i. purchase count
#        ii. avg purchase price
#       iii. total purchase value
#        iv. avg purchase total per person by gender

#    b. female players
#         i. purchase count
#        ii. avg purchase price
#       iii. total purchase value
#        iv. avg purchase total per person by gender

#    c. players of other/non-disclosed gender
#         i. purchase count
#        ii. avg purchase price
#       iii. total purchase value
#        iv. avg purchase total per person by gender

In [ ]:
# 5. Age demographics in bins of 4 years: <10, 10-14, 15-19, und so weiter
#    a. purchase count
#    b. avg purchase price
#    c. total purchase value
#    d. avg purchase total per person by age group

In [ ]:
# 6. Top spenders
#    a. identify the top five spenders by total purchase value
#    b. and list in a table:
#         i. SN
#        ii. purchase count
#       iii. avg purchase price
#        iv. total purchase value

In [ ]:
# 7. Most popular items
#    a. identify the five most popular items purchase count
#    b. and list in a table:
#         i. item ID
#        ii. item name
#       iii. purchase count
#        iv. total purchase value

In [ ]:
# 8 most profitable items
#    a. identify the five most profitable items by total purchase value
#    b. and list in a table:
#         i. item ID
#        ii. item name
#       iii. purchase count
#        iv. item price
#         v. total purchase value

In [14]:
# Thank you for examining this homework assignment (nunber 4: Pandas challenge)
# in the U of Minnesota Data Analytics and Visualization Boot Camp, Winter 2021.
# Please email Paul Bernhardt papadiscobravo@gmail.com with questions.